body{
    font-family: 'Coolvetica-Regular', arial;
    width: 101vw;
    overflow-x : hidden;
    margin: 0 0;    
}


#navigator {
    display: flex;
    padding: 0;
    background: rgb(44,57,92);
    background: linear-gradient(90deg, rgba(44,57,92,1) 24%, rgba(9,141,172,1) 56%, rgba(0,88,106,0.72) 83%);
    color: white;
    width: 100%;
}
.logo {
    max-width: 50px;
}
.menu{
    display: flex;
    width: 100%;
    vertical-align: center;
    position: absolute;
    margin-bottom: 20px;
}
#navigator li {
    flex-direction: column;
    list-style-type: none;
    display: block;
    color: white;
    text-shadow:  1px 1px 1px black ;
    
    }

#navigator li a {
    color: white;
    text-decoration: none;
    margin: 0px 30px 0 30px;
    
}
#navigator li :hover {
color: rgb(80, 80, 80);
}

    .faqContainer{
      display: flex;
        background-color: white;
        margin: auto; 
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }
    h1  {
        display: flex;
        justify-content: center;
        margin : 20px auto 20px auto;
        width: 300px;
        text-align: center;
        align-items: center;
        color: #2C395C;
        text-shadow:  1px 1px 1px #2C395C;
    }
    .aboutParagraphe{
        font-size: large;
        color: #2C395C;
        text-shadow:  1px 1px 1px #9b9b9b;
    }
    h2{
        display: flex;
        margin: 20px auto auto auto;
        width: 300px;
        text-align: center;
        justify-content: center;
        align-items: center;
        color: #2C395C;
        text-shadow:  1px 1px 1px #2C395C;
    }
    h3{
        margin : 5vh auto 15px auto;
        flex-direction: row;
        width: 300px;
        text-align: center;
        align-items: center;
        color:rgb(0, 176, 189);
        text-shadow:  1px 1px 1px #2C395C;
    }
    p{
        display: flex;
        text-align: center;
        margin: auto;
        color: #2C395C;
        text-shadow:  1px 1px 1px #2C395C;
    }
    .main{
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(90deg, 
        rgba(44,57,92,1) 24%,
         rgba(9,141,172,1) 56%, 
         rgba(0,88,106,0.72) 83%);

    }
    
    .faq {
        display: inline-block;
        flex-direction: row;
        justify-content: center;
        height: 350px;;
        width: 350px;
        margin: 20px 30px 20px 20px;
        box-shadow: 2px 2px 2px 2px rgb(156, 156, 156);
        border-radius: 10px;
        padding : auto 5px auto 5px;
        background-color:white;
        
        padding : auto 20px;
      }

      h4{
          font-size: x-large;
        margin : 30px auto 30px auto;
        flex-direction: row;
        width: 100%;
        text-align: center;
        align-items: center;
        color:#2C395C;
        text-shadow:  1px 1px 1px #2C395C;
      }

      .faq >p{
          padding: 10px;
      }
/* ---------------footer----------------- */

#footer {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0;
    background: rgb(44,57,92);
background: linear-gradient(90deg, rgba(44,57,92,1) 24%, rgba(9,141,172,1) 56%, rgba(0,88,106,0.72) 83%);
    color: white;
    width: 100%;
  }

  #footer li {
    flex-direction: column;
    list-style-type: none;
    display: block;
    color: white;
    text-shadow:  1px 1px 1px black ;
    justify-content: space-around;
    padding: 3px;
  }
  
  #footer li a {
    color: white;
    text-decoration: none;
    margin: 0px 30px 0 30px;
  }
  #footer li a:hover {
      color:rgb(0, 176, 189)
  }

  .footNavigation {
    display: flex;
    flex-direction: column;
  }
  
  