
    .paysBlock {
        display : block;
    }
    
    .paysNone {
        display: none;
    } 
    h2 {
        color: blue;
    }

@media only screen and (max-width: 600px){
    .paysBlock {
        display : block;
    }
    
    .paysNone {
        display: none;
    } 
    h2{
        color: red;
    }
}