.paysBlock {
  display: block;
}

.paysNone {
  display: none;
}
h2 {
  color: blue;
}

@media only screen and (min-width: 600px) {
  .paysBlock {
    display: block;
  }

  .paysNone {
    display: none;
  }
  h2 {
    color: red;
    display: flex;
    justify-content: center;
    width: auto;
    align-items: center;
    color: #2c395c;
    text-shadow: 1px 1px 1px rgb(167, 167, 167);
    font-size: xx-large;
  }

  #filterCountry {
    margin-top: 60px;
    display: flex;
    justify-content: flex-start;
    
    
  }
   #btnPays1, #btnPays2, #btnPays3, #btnPays4, #btnPaysRes{
    background-color: #0C9BE3;
    border-radius: 20px;
    color: white;
    width: 75px;
    height: 30px;
    margin: auto;
    padding-top: 8px;
    border : none;
    justify-content: center;
    box-shadow: 1px 1px 1px grey;
    text-shadow: 1px 1px 1px grey;
   }

  .paysBlock {
    border-radius: 10px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: 30px;
    box-shadow: 2px 2px 2px 2px rgb(156 156 156);
  }

  #activityFinlande, #travelFinlande, #activitySuede, #travelSuede, #activityNorvege, #travelNorvege, #activityIslande, #travelIslande{
    border-bottom: 1px solid black;
  }
}
